.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  filter: hue-rotate(120deg); /* Make the logo have a green hue */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1a1a1a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #66ff66; /* Xbox green */
  border-left: 5px solid #66ff66; /* Green blade-like border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.App-link {
  color: #66ff66; /* Xbox green for the link */
  text-decoration: none; /* Removing the underline for cleaner look */
  transition: color 0.3s ease;
}

.App-link:hover {
  color: #4dff4d; /* A slightly different shade of green on hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
