/* GameDetails.css */

/* Control the card's appearance */
.game-details .card {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 900px;
    margin: auto;
}

/* Control the appearance and size of the image */
.game-details .card-img-top {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 20px auto;
    object-fit: cover;
}

.game-details .card-body {
    overflow-y: auto; /* Add a scrollbar if content gets too long */
    max-height: calc(100vh - 150px); /* Adjust as necessary */
}

/* Hover effects for card and image */
.game-details .card:hover {
    transform: scale(1.02);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    z-index: 0; /* Ensure the card doesn't overlay the navbar */
}

.game-details .card:hover .card-img-top {
    transform: scale(1.05);
}

/* Bring back additional info and adjust its appearance */
.game-details .card-text, .list-group-item {
    font-size: 0.9rem;
    line-height: 1.5;
}

.game-details .list-group-item {
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.game-details .card.text-light .list-group-item {
    color: #ffffff; /* or any color that shows up against your card's background */
}

.game-details .card-subtitle {
    color: #e0e0e0; /* Light grey color for subtitles */
    font-size: 1.1rem; /* Slightly larger font size for subtitles */
    font-weight: 500; /* Medium font weight for subtitles */
    margin-top: 20px; /* Add some spacing above subtitles */
    margin-bottom: 10px; /* And a little below */
}